.row {
    border-left: 1px solid gray;
    display: flex;
    flex-direction: row;
    min-height: 20px;
}

.row.heading {
    border-top: 1px solid gray;
}

.cell {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    min-width: 48px;
}

.selected {
    background-color: lightblue;
}

.cell.heading {
    text-align: center;
    font-weight: bold;
    background-color: lightgrey;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

input {
    width: 48px;
}
